<h1>Посты</h1>

<form method="GET">
    {{ form.as_p }}
    <button type="submit">Выбрать</button>
</form>

{% for post in posts %}
    <h2><a href="{% url 'DetailPage' post.id %}">{{post.title }}</a></h2>
    <p>{{ post.author }}</p>
    <p>{{ post.text }}</p>
    {% if post.image %}
        <img src="{{ post.image.url }}" alt="{{ post.title }}" width="300">
    {% endif %}
    <hr>
    <form method="POST" action="{% url 'DeletePage' post.id %}">
        {% csrf_token %}
        <button type="submit">Удалить</button>
    </form>
{% endfor %}
